/* google fonts Roboto Fonts Added */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
    font-family: "Roboto", sans-serif;
}
/* common classes */
.small-button{
    display: flex;
    background-color: #111B47;
}
.small-button a{
    font-size: 12px;
    padding: 5px 25px;
    text-decoration: none;
    color: white;
    border-radius: 2%;
}
.large-button{
    background-color: #111B47;
}
.large-button a{
    font-size: 12px;
    padding: 10px 35px;
    text-decoration: none;
    color: white;
    border-radius: 2%;
}
.large-button-trasp{
    border: 1px solid #111B47;
}
.large-button-trasp a{
    padding: 10px 35px;
    font-size: 12px;
    text-decoration: none;
    color: #111B47;
    border-radius: 2%;
}
/* Header part start */
header{
    background-image: url("../images/designer_1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100%;
}
.header-context{
    max-width: 540px;
    height: 100vh;
    display: flex;
    align-items: center;
}
/* override bootstrap style */
.navbar-collapse{
    flex-grow: unset;
}
.navbar-brand {
    margin-right: 0;
}

.navbar-brand{
    color: #37447E;
    font-weight: 600;
    font-size: 38px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:hover {
    color: #37447E;
}

/* Header part ends */

/* Pricing Section */
.pricing-section{
    background-image: url("../images/Rectangle.png");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
